<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkyPay.ipa</key>
	<array>
		<dict>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
				<key>dateExpires</key>
				<string>18/12/17</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
						<key>dateExpires</key>
						<string>18/12/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JCRFV5ZL52</string>
						<key>name</key>
						<string>Saransh Mittal</string>
					</dict>
				</dict>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
						<key>dateExpires</key>
						<string>18/12/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JCRFV5ZL52</string>
						<key>name</key>
						<string>Saransh Mittal</string>
					</dict>
				</dict>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
						<key>dateExpires</key>
						<string>18/12/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JCRFV5ZL52</string>
						<key>name</key>
						<string>Saransh Mittal</string>
					</dict>
				</dict>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
						<key>dateExpires</key>
						<string>18/12/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JCRFV5ZL52</string>
						<key>name</key>
						<string>Saransh Mittal</string>
					</dict>
				</dict>
				<dict>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D25BAC8111B0B9699486620C5F38DAA3E27A45E3</string>
						<key>dateExpires</key>
						<string>18/12/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>WVCheckMark.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JCRFV5ZL52</string>
						<key>name</key>
						<string>Saransh Mittal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JCRFV5ZL52.com.skyblue.SkyPay</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JCRFV5ZL52</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>JCRFV5ZL52.com.skyblue.SkyPay</string>
				</array>
			</dict>
			<key>name</key>
			<string>SkyPay.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62957e1b-e071-4ed7-9ca6-8dad7d66e867</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JCRFV5ZL52</string>
				<key>name</key>
				<string>Saransh Mittal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
